<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<hr class="my-4">
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">SimbirSoft</h1>
    <div>
        <form th:method="POST" th:action="@{/add}" th:object="${simbirData}">
            <input type="text" placeholder="Input url." class="form-control" id="url" th:field="*{url}">
            <div style="color:#ff0000" th:if="${#fields.hasErrors('url')}" th:errors="*{url}">Input url</div>
            <br>
            <input type="text" placeholder="Save file in." class="form-control" id="directory" th:field="*{directory}">
            <br>
            <button class="w-100 btn btn-primary btn-lg" type="submit">Parse</button>
        </form>
    </div>
</div>
</body>
</html>